<h1>Hello, welcome to my website!</h1>
<h3><a href="/account/signup">Sign up for a new account</a></h3>
<h3><a href="/account/login">Login to your account</a></h3>
<h3><a href="/home/upload">Upload Pics</a></h3>